# Northwind SQLite Exercises

<div class="alert alert-success">  

## Learning Objectives

- Have basic understanding of SQL syntax (e.g., `SELECT`, `FROM`, `WHERE` clauses).
- Write SQL queries to select, filter, and sort data.
- Perform complex joins between tables to retrieve related data.
- Use aggregate functions to summarize data.
</div>


### Icons Used in This Notebook
üîî **Question**: A quick question to help you understand what's going on.<br>
ü•ä **Challenge**: Interactive exercise. We'll work through these in the workshop!<br>
üí° **Tip:** How to do something a bit more efficiently or effectively.<br>
‚ö†Ô∏è **Warning:** Heads-up about tricky stuff or common mistakes.<br>

For the exercises below, you can find the [Solutions for Northwind SQLite Exercises here](SQL-Northwind-Lesson-Exercises.ipynb).

### Sections
1. [Basic SELECT Queries](#ex1)
2. [Filtering Data with WHERE Clause](#ex2)
3. [Sorting Data with ORDER BY](#ex3)
4. [Joining Tables](#ex4)
5. [Aggregate Functions and GROUP BY](#ex5)
6. [Advanced Joins and Subqueries](#ex6)
7. [Using Views](#ex7)
8. [Modifying Data](#ex8)

## Prerequisite Setup

To enable the `%%sql` Python Magic in the code cells below, run these two setup steps to:
1. Load the SQL Jupyter Notebook extension
2. Open the SQLite database to allow this notebook to access it.

In [ ]:
%load_ext sql

In [ ]:
%sql sqlite:///data/northwind.db

<a id='ex1'></a>
### Exercise 1: Basic SELECT Queries

**Objective:** Practice retrieving data using `SELECT` statements.

In [ ]:
%%sql -- List all records from the `Customers` table.
SELECT * FROM Customers;

In [ ]:
%%sql -- Retrieve the `ProductName` and `UnitPrice` from the `Products` table.
SELECT ProductName, UnitPrice FROM Products;

In [ ]:
%%sql -- Display the `FirstName` and `LastName` of all employees.
SELECT FirstName, LastName FROM Employees;

#### ü•ä Challenge 1.1
What is the `CompanyName` of the customer with `CustomerID` 'ALFKI'?

In [ ]:
%%sql
SELECT

#### ü•ä Challenge 1
.2
How many products are listed in the `Products` table?

In [ ]:
%%sql
SELECT

<a id='ex2'></a>
### Exercise 2: Filtering Data with WHERE Clause

**Objective:** Use the `WHERE` clause to filter query results.

In [ ]:
%%sql -- Find all customers located in Germany.
SELECT * FROM Customers WHERE Country = 'Germany';

In [ ]:
%%sql -- List products that are out of stock (`UnitsInStock` = 0).
SELECT * FROM Products WHERE UnitsInStock = 0

In [ ]:
%%sql -- Retrieve orders placed after January 1, 2018
SELECT * FROM Orders WHERE OrderDate > '2018-01-01';

#### ü•ä Challenge 2.1
How many suppliers are from the USA?

In [ ]:
%%sql
SELECT

#### ü•ä Challenge 2.2
Which employees have the title "Sales Representative"?

In [ ]:
%%sql
SELECT

<a id='ex3'></a>
### Exercise 3: Sorting Data with ORDER BY

**Objective:** Learn how to sort query results.

In [ ]:
%%sql -- Display all products sorted by `UnitPrice` in descending order.
SELECT * FROM Products ORDER BY UnitPrice DESC;

In [ ]:
%%sql -- List customers sorted by `CompanyName` alphabetically.
SELECT *
FROM Customers
ORDER BY CompanyName ASC;

In [ ]:
%%sql -- Retrieve the top 5 most expensive products.
SELECT ProductName, UnitPrice
FROM Products
ORDER BY UnitPrice DESC
LIMIT 5;

#### ü•ä Challenge 3.1
What is the cheapest product available?

In [ ]:
%%sql
SELECT

#### ü•ä Challenge 3.2
Which customer comes first when sorted by `CompanyName`?

In [ ]:
%%sql
SELECT

<a id='ex4'></a>
### Exercise 4: Joining Tables

**Objective:** Combine data from multiple tables using joins.

Review these resources:
 - <a href="https://medium.com/swlh/the-best-visual-to-explain-sql-joins-612b95c81555">The Best Visual To Explain SQL JOINs | by Junji Zhi | The Startup | Medium</a>
 - <a href="https://blog.codinghorror.com/a-visual-explanation-of-sql-joins/">A Visual Explanation of SQL Joins</a>
 - <a href="https://www.atlassian.com/data/sql/sql-join-types-explained-visually">Visualizing SQL Joins | Atlassian</a>

In [ ]:
%%sql -- List all orders along with the `CompanyName` of the customer who placed each order.
SELECT Orders.OrderID, Customers.CompanyName
FROM Orders
INNER JOIN Customers ON Orders.CustomerID = Customers.CustomerID;

#### ü•ä Challenge 4.1
How many orders has each customer placed?

In [ ]:
%%sql
SELECT

#### ü•ä Challenge 4.2
Which products are supplied by "Exotic Liquids"?

In [ ]:
%%sql
SELECT

<a id='ex5'></a>
### Exercise 5: Aggregate Functions and GROUP BY

**Objective:** Use aggregate functions to summarize data.

In [ ]:
%%sql -- Calculate the total number of orders.
    SELECT COUNT(*) AS TotalOrders FROM Orders;

In [ ]:
%%sql -- Determine the number of customers in each country.
SELECT Country, COUNT(*) AS NumberOfCustomers
FROM Customers
GROUP BY Country;

#### ü•ä Challenge 5.1
Which country has the most customers?

In [ ]:
%%sql
SELECT

#### ü•ä Challenge 5.2
What is the total revenue generated from all orders? 

üí° **Tip:** You'll need to join `OrderDetails` and `Orders` tables and use `SUM`.

‚ö†Ô∏è **Warning:** There is no `OrderDetails` table, but there is an `Order Details` table.

In [ ]:
%%sql
SELECT

<a id='ex6'></a>
### Exercise 6: Advanced Joins and Subqueries

**Objective:** Solve complex queries using advanced SQL techniques.

In [ ]:
%%sql -- List employees and the total number of orders they have processed.
SELECT Employees.LastName, COUNT(Orders.OrderID) AS NumberOfOrders
FROM Employees
LEFT JOIN Orders ON Employees.EmployeeID = Orders.EmployeeID
GROUP BY Employees.LastName;

#### ü•ä Challenge 6.1
Which employee has processed the most orders?

In [ ]:
%%sql
SELECT

#### ü•ä Challenge 6.2
Are there any products supplied by multiple suppliers?

In [ ]:
%%sql
SELECT

<a id='ex7'></a>
### Exercise 7: Using Views

**Objective:** Understand and create SQL views for recurring queries.

In [ ]:
%%sql -- Create a view that lists the `ProductName`, `CategoryName`, and `SupplierName` for all products.
    CREATE VIEW ProductDetails AS
    SELECT Products.ProductName, Categories.CategoryName, Suppliers.CompanyName AS SupplierName
    FROM Products
    INNER JOIN Categories ON Products.CategoryID = Categories.CategoryID
    INNER JOIN Suppliers ON Products.SupplierID = Suppliers.SupplierID;

In [ ]:
%%sql -- Query the `ProductDetails` view to find all products in the "Beverages" category.
SELECT * from ProductDetails

#### üîî Question 7.1
What are the benefits of using views in SQL?

#### üîî Question 7.2
Can you update data through a view?

<a id='ex8'></a>
### Exercise 8: Modifying Data (Caution Advised)

**Objective:** Practice inserting, updating, and deleting data.

‚ö†Ô∏è **Warning:** The code in this section will permanently modify the underlying database.

**Tasks:**
  - **Insert:** Add a new customer to the `Customers` table.
    ```sql
    INSERT INTO Customers (CustomerID, CompanyName, ContactName, Country)
    VALUES ('NEWID', 'New Company', 'John Doe', 'USA');
    ```
  - **Update:** Change the `ContactTitle` of 'John Doe' to 'Sales Manager'.
    ```sql
    UPDATE Customers
    SET ContactTitle = 'Sales Manager'
    WHERE CustomerID = 'NEWID';
    ```
  - **Delete:** Remove a discontinued product from the `Products` table.
    ```sql
    DELETE FROM Products
    WHERE Discontinued = 1;
    ```
- **Caution:** These changes are permanent in your local database. Consider making a backup before performing these operations.

<a id='resources'></a>
## Additional Resources

- **SQLite Documentation:** [https://www.sqlite.org/docs.html](https://www.sqlite.org/docs.html)
- **SQLite Command Line Reference:** [https://www.sqlite.org/cli.html](https://www.sqlite.org/cli.html)
- **SQL Tutorial Cheatsheet:** [https://www.sqltutorial.org/sql-cheat-sheet/](https://www.sqltutorial.org/sql-cheat-sheet/)
- **SQLite Browser Wiki:** [SQLite Browser GitHub Wiki](https://github.com/sqlitebrowser/sqlitebrowser/wiki)
- **Northwind SQLite Repo:** [Github Repo](https://github.com/jpwhite3/northwind-SQLite3/)
- **Northwind Database Schema:** [Schema Diagram](https://github.com/jpwhite3/northwind-SQLite3/blob/main/docs/Northwind_ERD.png)