# Northwind SQLite Solutions

## Prerequisite Setup

To enable the `%%sql` Python Magic in the code cells below, run these two setup steps to:
1. Load the SQL Jupyter Notebook extension
2. Open the SQLite database to allow this notebook to access it.

In [ ]:
%load_ext sql

In [ ]:
%sql sqlite:///data/northwind.db

<a id='ex1'></a>
### Exercise 1: Basic SELECT Queries

**Objective:** Practice retrieving data using `SELECT` statements.

#### ü•ä Challenge 1.1
What is the `CompanyName` of the customer with `CustomerID` 'ALFKI'?

In [ ]:
%%sql
SELECT CompanyName
FROM Customers
WHERE CustomerID = 'ALFKI';

#### ü•ä Challenge 1
.2
How many products are listed in the `Products` table?

In [ ]:
%%sql
SELECT COUNT(*) AS ProductCount
FROM Products;

<a id='ex2'></a>
### Exercise 2: Filtering Data with WHERE Clause

**Objective:** Use the `WHERE` clause to filter query results.

#### ü•ä Challenge 2.1
How many suppliers are from the USA?

In [ ]:
%%sql
SELECT COUNT(*) AS USASupplierCount
FROM Suppliers
WHERE Country = 'USA';

#### ü•ä Challenge 2.2
Which employees have the title "Sales Representative"?

In [ ]:
%%sql
SELECT LastName, FirstName, Title
FROM Employees
WHERE Title = 'Sales Representative';

<a id='ex3'></a>
### Exercise 3: Sorting Data with ORDER BY

**Objective:** Learn how to sort query results.

#### ü•ä Challenge 3.1
What is the cheapest product available?

In [ ]:
%%sql
SELECT ProductName, UnitPrice
FROM Products
ORDER BY UnitPrice ASC
LIMIT 1;

#### ü•ä Challenge 3.2
Which customer comes first when sorted by `CompanyName`?

In [ ]:
%%sql
SELECT CompanyName
FROM Customers
ORDER BY CompanyName ASC
LIMIT 1;

<a id='ex4'></a>
### Exercise 4: Joining Tables

**Objective:** Combine data from multiple tables using joins.

#### ü•ä Challenge 4.1
How many orders has each customer placed?

In [ ]:
%%sql
SELECT Customers.CompanyName, COUNT(Orders.OrderID) AS OrderCount
FROM Customers
LEFT JOIN Orders ON Customers.CustomerID = Orders.CustomerID
GROUP BY Customers.CompanyName;

#### ü•ä Challenge 4.2
Which products are supplied by "Exotic Liquids"?

In [ ]:
%%sql
SELECT Products.ProductName
FROM Products
JOIN Suppliers ON Products.SupplierID = Suppliers.SupplierID
WHERE Suppliers.CompanyName = 'Exotic Liquids';

<a id='ex5'></a>
### Exercise 5: Aggregate Functions and GROUP BY

**Objective:** Use aggregate functions to summarize data.

#### ü•ä Challenge 5.1
Which country has the most customers?

In [ ]:
%%sql
SELECT Country, COUNT(*) AS CustomerCount
FROM Customers
GROUP BY Country
ORDER BY CustomerCount DESC
LIMIT 1;

#### ü•ä Challenge 5.2
What is the total revenue generated from all orders? 

üí° **Tip:** You'll need to join `OrderDetails` and `Orders` tables and use `SUM`.

‚ö†Ô∏è **Warning:** There is no `OrderDetails` table, but there is an `Order Details` table.

In [ ]:
%%sql
SELECT SUM(OrderDetails.UnitPrice * OrderDetails.Quantity * (1 - OrderDetails.Discount)) AS TotalRevenue
FROM `Order Details` AS OrderDetails
JOIN Orders ON OrderDetails.OrderID = Orders.OrderID;

<a id='ex6'></a>
### Exercise 6: Advanced Joins and Subqueries

**Objective:** Solve complex queries using advanced SQL techniques.

#### ü•ä Challenge 6.1
Which employee has processed the most orders?

In [ ]:
%%sql
SELECT Employees.LastName, Employees.FirstName, COUNT(Orders.OrderID) AS OrderCount
FROM Employees
JOIN Orders ON Employees.EmployeeID = Orders.EmployeeID
GROUP BY Employees.LastName, Employees.FirstName
ORDER BY OrderCount DESC
LIMIT 1;

#### ü•ä Challenge 6.2
Are there any products supplied by multiple suppliers?

In [ ]:
%%sql
SELECT Products.ProductName, COUNT(DISTINCT Products.SupplierID) AS SupplierCount
FROM Products
GROUP BY Products.ProductName
HAVING SupplierCount > 1;